
@font-face {
    font-family: 'Outfit';
    src: url(/fonts/OutfitMedium.ttf);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Outfit';
    src: url(/fonts/OutfitSemibold.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url(/fonts/OutfitBold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: 'Outfit', sans-serif;

    --violet: #7429C6;
    --fuchsia: #C951E7;
    --dark-violet: #672171;
    --grey: #4A5567;
    --light-grey: #97A3B6;
    --dark-blue: #030616;
    --white: #F2F5F9;
}

/* Reset some default styles */
ul,
ol,
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

/* Add some styles for body*/
body {
    min-height: 100vh;
    background: #020617;
    color: var(--white);
    line-height: 1.5;
    background-image: url(/images/bg-guess-the-word.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* Main rules */

main {
    width: 100%;
}

.container {
    width: 90%;
    max-width: 30rem;
    height: 30rem;
    background-color: var(--dark-blue);
    margin: 0 auto;
    border-radius: 1rem;
    padding: 2rem;
}

.container > h1 {
    display: flex;
    justify-content: center;
}

.container #word-screen{
    width: 100%;
    height: 5rem;
    margin-top: 2.5rem;
    background-color: var(--grey);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container #word-screen .letters-container {
    display: flex;
    gap: 1rem;
}

.container #word-screen .letters-container .letter{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--light-grey);
}

.tries-mistakes {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    color: var(--grey);
    font-size: .8rem;
}

.tries-mistakes .tries {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.tries-mistakes .tries .dots {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.tries-mistakes .tries .dots .dot {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: var(--light-grey);
}

.dots .dot.active {
    background-color: var(--violet) !important;
}

.tries-mistakes .mistakes {
    display: flex;
    align-items: center;
}

.tries-mistakes .mistakes .mistakes-container{
    margin-left: .6rem;
    font-size: 1rem;
    color: var(--light-grey);
    display: flex;
    gap: .3rem;
}

.tries-mistakes .mistakes .mistakes-container li {

}

/* User input */

.user-input {
    width: 80%;
    margin: 4rem auto 0;
    display: flex;
    justify-content: space-between;
}

.user-input .box{
    width: 3rem;
    height: 3rem;
    border: 2px solid var(--grey);
    background-color: transparent;
    color: var(--white);
    text-align: center;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
}

/* Reset and random word buttons */

.random-reset {
    width: 80%;
    margin: 2rem auto 0;
    display: flex;
    justify-content: space-between;
}

.random-reset .btn {
    color: var(--white);
    font-weight: 600;
    background-color: var(--fuchsia);
    padding: .8rem 2.5rem;
    border-radius: .5rem;
    box-shadow: 0px 0.3rem 0rem rgba(201, 81, 231, .5);
    transition: all .3s ease-in-out;
}

.random-reset .btn:hover {
    filter: brightness(1.2);
}