
@font-face {
    font-family: 'Outfit';
    src: url(/fonts/OutfitMedium.ttf);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Outfit';
    src: url(/fonts/OutfitSemibold.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url(/fonts/OutfitBold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: 'Outfit', sans-serif;

    --violet: #7429C6;
    --fuchsia: #C951E7;
    --dark-violet: #672171;
    --grey: #4A5567;
    --light-grey: #97A3B6;
    --dark-blue: #030616;
    --white: #F2F5F9;
}

/* Reset some default styles */
ul,
ol,
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

/* Add some styles for body*/
body {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    background: #020617;
    color: #cbd5e1;
    line-height: 1.5;
    background-image: url(/images/bg-guess-the-word.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
